.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-grid-column.feature-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:30%;
}
.gjs-grid-column.testimonial-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:45%;
	background-color:rgba(247,247,247,0.23);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	align-items:flex-start;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
}
#ixdz7c {
	padding-top:10px;
	padding-right:0px;
	padding-bottom:7px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	justify-content:flex-start;
	flex-direction:row;
}
#iwlqix {
	padding-top:5px;
	padding-right:0px;
	padding-bottom:5px;
	padding-left:0px;
	flex:1 1 0%;
}
#i9hfkl {
	color:black;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:6px;
	padding-top:0px;
	padding-right:2px;
	padding-bottom:0px;
	padding-left:0px;
	height:100%;
	display:block;
}
.gjs-container {
	width:90%;
	margin:0 auto;
	max-width:1200px;
}
.gjs-section {
	display:flex;
	padding:50px 0;
}
#i9u0el {
	padding-top:5px;
	padding-right:0px;
	padding-bottom:5px;
	padding-left:0px;
	flex:1 1 0%;
}
#i07ijq {
	display:flex;
	flex-direction:row;
}
#iro54t {
	flex:0 1 auto;
}
#iycxbu {
	flex:1 1 0%;
}
#iigd5w {
	flex:0 1 auto;
}
#iqpjbg {
	padding:10px;
}
#i4om1g {
	padding:10px;
}
@media (max-width:992px) {
	.gjs-grid-row {
	flex-direction:column;
}
.gjs-grid-row {
	flex-direction:column;
}
}@media (max-width:768px) {
	#i07ijq {
	flex-direction:row;
	display:flex;
}
#iycxbu {
	flex:1 1 0%;
	align-self:auto;
}
#i9u0el {
	flex:0 0 auto;
	align-self:auto;
	display:block;
}
}@media (max-width:480px) {
	#i07ijq {
	flex-direction:row;
}
#ixdz7c {
	flex-direction:column;
}
}
